{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-retargeting" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">

            <!-- Module inline title -->
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-paper-plane"></i> {{ text_edit }}</h3>
            </div>

            <div class="panel-body">

                <!-- Retargeting logo/img -->
                <div class="row" style="min-height:45px;">
                    <div class="col-md-12">
                        <img src="https://retargeting.ro/static/images/i/logo.png" class="img-responsive" alt="Retargeting Tracker" />
                    </div>
                </div>

                <!-- Submission form -->
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-retargeting" class="form-horizontal">
                    <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_signup }}
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    
                    <!-- API KEY -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-apikey">{{ entry_apikey }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_retargeting_apikey" value="{{ module_retargeting_apikey }}" placeholder="{{ entry_apikey}}" id="input-apikey" class="form-control" />
                            {% if error_code %}
                            <div class="text-danger">{{ error_code}}</div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- REST API KEY -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-token">{{ entry_token }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_retargeting_token" value="{{ module_retargeting_token }}" placeholder="{{ entry_token }}" id="input-token" class="form-control" />
                        </div>
                    </div>

                    <!-- Enabled/Disabled status -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="module_retargeting_status" id="input-status" class="form-control">
                              {% if module_retargeting_status %}
                              <option value="1" selected="selected">{{ text_enabled }}</option>
                              <option value="0">{{ text_disabled }}</option>
                              {% else %}
                              <option value="1">{{ text_enabled }}</option>
                              <option value="0" selected="selected">{{ text_disabled }}</option>
                              {% endif %}
                            </select>
                        </div>
                    </div>

                    <!-- Layouts -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="retargeting_module">Assigned Layouts:</label>
                        <div class="col-sm-10">
                            {% for layout in layouts %}
                            <span class="label label-default" name="{{ layout.name }}">{{ layout.name }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- API URL -->
                    <hr />

                    <div class="col-sm-2">
                        <h3>Fine tuning</h3>
                    </div>
                    <div class="col-sm-10">
                        <div class="well">
                            Your OpenCart theme may alter certain CSS and HTML elements that are important for Retargeting Tracker. Below you can adjust the CSS selectors which Retargeting Tracker will be monitoring. Please use single quotes only. Example: input[type='text']
                        </div>
                    </div>

                    <!-- 1. setEmail -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-setEmail">{{ entry_email }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_retargeting_setEmail" value="{{ module_retargeting_setEmail is defined and module_retargeting_setEmail is not empty ? module_retargeting_setEmail : "input[type=\'text\']" }}" placeholder="input[type=\'text\']" id="input-setEmail" class="form-control" />
                            <span class="small">Email input query selector.</span>
                        </div>
                    </div>

                    <!-- 2. addToCart -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-addToCart">{{ entry_cart_button }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_retargeting_addToCart" value="{{ module_retargeting_addToCart is defined and module_retargeting_addToCart is not empty ? module_retargeting_addToCart : "#button-cart" }}" placeholder="#button-cart" id="input-addToCart" class="form-control" />
                            <span class="small">Cart button query selector.</span>
                        </div>
                    </div>

                    <!-- 3. clickImage -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-clickImage">{{ entry_image }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_retargeting_clickImage"
                                   value="{{ module_retargeting_clickImage is defined and module_retargeting_clickImage is not empty ? module_retargeting_clickImage : "a.thumbnail" }}"
                                   placeholder="a.thumbnail" id="input-clickImage" class="form-control"
                            />
                            <span class="small">Main product image container query selector.</span>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 45px;">
                        <hr />
                        <div class="col-sm-12">
                            <span class="small">You can get your <strong>Tracking API Key</strong> and <strong>REST API Key</strong> from your <a href="https://retargeting.biz/admin?action=api_redirect&token=028e36488ab8dd68eaac58e07ef8f9bf" target="_blank" rel="noopener noreferrer">Retargeting account</a>.</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
